*{
	margin: 0;
	padding: 0;
}
h1{
	color: rgb(0, 0, 0);
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 30px 0 0;
}
h3{
	color: rgb(0, 0, 0);
	margin: 20px auto;
	display: block;
	padding: 20px;
	border: 1px dotted rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: 200;
	width: 800px;
	background: rgb(197, 178, 178);
}

#wrapper{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
}
#catalog{
	display: flex;
	min-height: 100px;
	width: 800px;
	padding: 20px;
	border: 1px dotted rgb(0, 0, 0);
	border-radius: 5px;
	flex-direction: column;
}
.prod_item{
	display: flex;
	width: 100%;
	margin: 10px 0;
	box-shadow: 0 0 6px 1px lightblue;
	justify-content: space-between;
}
.item{
	display: flex;
	margin-left: 10px;
}
.image{
	height: 100%;
}

.description{
	height: 100%;
	margin-left: 30px;
}
.description h4{
	font-size: 2em;
	padding: 10px 0;
}
.price{
}
.price span{
	font-size: 3em;
}
.offer{
	visibility: hidden;
	margin-left: 30px;
	background: lightcoral;
	font-size: 1.5em;
}
.show{
	visibility: visible;
	padding: 5px;
}
.sale{
	display: flex;
	width: 200px;
	flex-direction: column;
	align-items: flex-end;
    justify-content: inherit;
	margin: 10px;
}
.sale a{
	display: block;
	width: 100%;
	background: lightblue;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: larger;
}
.sale a:hover{
	background: #4a93ab;
}