*{
	margin: 0;
	padding: 0;
}
h1{
	color: rgb(0, 0, 0);
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 30px 0 0;
}
h3{
	color: rgb(0, 0, 0);
	margin: 20px auto;
	display: block;
	padding: 20px;
	border: 1px dotted rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: 200;
	width: 800px;
	background: rgb(197, 178, 178);
}

#wrapper{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
}
#main{
	display: flex;
	color: rgb(0, 0, 0);
	min-height: 100px;
	width: 800px;
	flex-direction: column;
	padding: 20px;
	border: 1px dotted rgb(0, 0, 0);
	border-radius: 5px;
}
.prod_item {
	display: flex;
	width: 100%;
	margin: 10px 0;
	font-size: 1.2em;
	justify-content: space-between;
}

.total{
	margin-top: 10px;
	color: brown;
	font-size: 1.4em;
	padding-top: 20px;
}
img{
	width: 50%;
}