*{
	margin: 0;
	padding: 0;
}
h1{
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 30px 0 0;
}
#wrapper{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
}
h3{
	color: rgb(0, 0, 0);
	margin: 20px auto;
	display: block;
	padding: 20px;
	border-radius: 5px;
	font-weight: 200;
	width: 800px;
	background: rgb(197, 178, 178);
}
#board{
	display: flex;
	box-shadow: 0px 0px 16px 6px rgb(241 212 171 / 80%);
	border: 2px solid black;
}
.outer > div{
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}
.black{
	background: black;
}
.wood{
	background: rgb(197, 178, 178);
}